In [1]:
import datetime as dt
import pandas as pd
import numpy as np
import seaborn as sns
import scipy.stats as stats
from pandas_datareader import data as pdr
import plotly.offline as pyo
import yfinance as yf
import plotly.graph_objects as go
from IPython.display import FileLink
from plotly.subplots import make_subplots

pyo.init_notebook_mode(connected=True)
pd.options.plotting.backend = "plotly"

In [2]:
end = dt.datetime.now()
start = dt.datetime(2015,1,1)

df = yf.download(["RELIANCE.NS","HDFCBANK.NS","TCS.NS","BHARTIARTL.NS","ICICIBANK.BO"],start,end)
Close = df.Close
Close.head()

C:\Users\HP\AppData\Local\Temp\ipykernel_68612\2410027770.py:4: FutureWarning:

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  5 of 5 completed

Ticker      BHARTIARTL.NS  HDFCBANK.NS  ICICIBANK.BO  RELIANCE.NS       TCS.NS
Date
2015-01-01     308.073547   212.546005    293.033264   189.999832  1073.510376
2015-01-02     309.898712   215.504059    301.258514   189.496948  1087.806519
2015-01-05     303.022461   213.684601    301.673920   187.421249  1071.274902
2015-01-06     300.645447   210.358139    289.003784   178.915237  1031.781128
2015-01-07     301.367035   210.972092    281.401672   182.809814  1019.593201

In [3]:
# Compute log returns

In [4]:
log_returns = np.log(df.Close/df.Close.shift(1)).dropna()
log_returns

Ticker      BHARTIARTL.NS  HDFCBANK.NS  ICICIBANK.BO  RELIANCE.NS    TCS.NS
Date
2015-01-02       0.005907     0.013821      0.027683    -0.002650  0.013229
2015-01-05      -0.022439    -0.008479      0.001378    -0.011014 -0.015314
2015-01-06      -0.007875    -0.015690     -0.042907    -0.046447 -0.037563
2015-01-07       0.002397     0.002914     -0.026657     0.021534 -0.011883
2015-01-08       0.017176     0.020788      0.024930    -0.014443  0.010737
...                   ...          ...           ...          ...       ...
2025-08-20       0.009745    -0.001458     -0.004291    -0.005012  0.026953
2025-08-21       0.000778     0.001508      0.010814     0.008316  0.001290
2025-08-22       0.001760    -0.013449     -0.006662    -0.011009 -0.015788
2025-08-25      -0.001346    -0.000255     -0.002091     0.002410  0.027962
2025-08-26      -0.014083    -0.009978     -0.011579    -0.020599  0.005208

[2585 rows x 5 columns]

In [5]:
# Calculate daily standard deviation of returns

In [6]:
daily_std = log_returns.std()
daily_std

Ticker
BHARTIARTL.NS    0.018616
HDFCBANK.NS      0.014143
ICICIBANK.BO     0.019450
RELIANCE.NS      0.017268
TCS.NS           0.014694
dtype: float64

In [7]:
annualized_vol = daily_std * np.sqrt(252)
annualized_vol*100

Ticker
BHARTIARTL.NS    29.551812
HDFCBANK.NS      22.450546
ICICIBANK.BO     30.875869
RELIANCE.NS      27.412818
TCS.NS           23.326139
dtype: float64

In [8]:
# Plot histogram of log returns with annualized volatility

In [ ]:
fig = make_subplots(rows=3, cols=3)

trace0 = go.Histogram(x=log_returns["BHARTIARTL.NS"],name="Airtel")
trace1 = go.Histogram(x=log_returns["HDFCBANK.NS"],name="HDFC Bank")
trace2 = go.Histogram(x=log_returns["ICICIBANK.BO"],name="ICICI Bank")
trace3 = go.Histogram(x=log_returns["RELIANCE.NS"],name="Reliance Ind")
trace4 = go.Histogram(x=log_returns["TCS.NS"],name="TCS")

fig.append_trace(trace0,1,1)
fig.append_trace(trace1,1,2)
fig.append_trace(trace2,1,3)
fig.append_trace(trace3,2,1)
fig.append_trace(trace4,2,2)

fig.update_layout(autosize=False, width=1090, height=750, title = "Log returns distribution", 
                  xaxis = dict(title="Airtel Annualized Vol:" +str(np.round(annualized_vol["BHARTIARTL.NS"]*100,1))),
                   xaxis2 = dict(title="HDFC Bank Annualized Vol:" +str(np.round(annualized_vol["HDFCBANK.NS"]*100,1))),
                   xaxis3 = dict(title="ICICI Bank Annualized Vol:" +str(np.round(annualized_vol["ICICIBANK.BO"]*100,1))),
                   xaxis4 = dict(title="Reliance Ind Annualized Vol:" +str(np.round(annualized_vol["RELIANCE.NS"]*100,1))),
                   xaxis5 = dict(title="TCS Annualized Vol:" +str(np.round(annualized_vol["TCS.NS"]*100,1))),
                 )

fig.show()

In [ ]:
# Trailing volatility over time

In [ ]:
TRADING_DAYS = 60
volatility = log_returns.rolling(window=TRADING_DAYS).std()*np.sqrt(TRADING_DAYS)

In [ ]:
volatility.plot().update_layout(title = "Time-series volatility",autosize=False, width=1090, height=520)

In [ ]:
# 1).Sharpe ratio

In [ ]:
Rf = 0.058/252
sharpe_ratio = (log_returns.rolling(window=TRADING_DAYS).mean() - Rf)*TRADING_DAYS/volatility

In [ ]:
sharpe_ratio.plot().update_layout(title = "Time-series sharpe ratio",autosize=False, width=1090, height=520)